= link_to "LevelBar", root_path, :class => 'brand'
%ul.nav
  %li= link_to "Mission", pages_mission_path
  %li= link_to "About", pages_about_path
  %li= link_to "Leadership", pages_leadership_path
  %li= link_to "Our Services", pages_services_path
  %li= link_to "Contact", pages_contact_path
  %li= link_to "Donate", pages_donate_path
  %li= link_to "Apply", pages_apply_path
  %li= link_to "The LSAT", pages_lsat_path